

.app {
  min-height: 100vh;
  background: #F6F6F6;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: FFFFFF;
  height: 84px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.logo-edu {
  color: #9333EA;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 10rem;
}

.content {
  max-width: 30rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button {
  width: 10rem;
  padding: 1rem 1rem;
  border-radius: 0.375rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

.button-primary {
  background-color: #9333EA;
  color: white;
  border: none;
}

.button-primary:hover {
  background-color: #7E22CE;
}

.button-outline {
  background-color: transparent;
  color: #9333EA;
  border: 2px solid #9333EA;
}

.button-outline:hover {
  background-color: #F3E8FF;
}

.characters {
  position: relative;
  width: 400px;
  height: 400px;

}


.character {
  position: absolute;

}

.character img {
  border-radius: 50%;

}

.character-1 {
  top: 0%;
  right: 45%;
  transform: rotate(-12deg);
  animation: float 3s infinite;
}

.character-2 {
  top: 40%;
  right: 2%;
  transform: rotate(12deg);
  animation: float 3.5s infinite;
}

.character-3 {
  bottom: -30%;
  right: 45%;
  transform: rotate(-6deg);
  animation: float 4s infinite;
}
.purpleCircle{
position: relative;
bottom: 100px;
right: 15rem;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    text-align: center;
  }

  .buttons {
    align-items: center;
  }

  .characters {
    margin-top: 3rem;
  }
}

